---
import Layout from '../layouts/Layout.astro';
const currentLocale = import.meta.env.CURRENT_LOCALE || "en";

---

<Layout>
	<h1>Welcome to the {currentLocale} version of this page!</h1>
</Layout>
